<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Inicio de sesión</h1>
        <form method="post">
            <input type="text" name="nombre" placeholder="Ingresa tu nombre" required>
            <input type="password" name="password" placeholder="Ingresa tu contraseña" required>
            <button type="submit" class="btn btn-azul">Verificar</button>
        </form>

        {% if mensaje %}
        <div class="result">
            <p>{{ mensaje }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
